@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#short-bio {
    max-width: 400px;
    margin-bottom: 50px;
    text-align: justify;
}

#center {
    margin-top: 80px;
}

#profession {
    margin-top: -20px;
    color: grey;
}

.about-section {
    max-width: 35%;
}

#circle-wrapper {
    height: 205px;
    width: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#circle {
    height: 80px;
    width: 80px;
    background-color: lightblue;
    border-radius: 50%;
    animation: growingcircle 30s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes growingcircle {
    0% {
        height: 80px;
        width: 80px;
        font-size: 8px;
    }
    12.5% {
        font-size: 12px;
    }
    25% {
        background-color: lightcyan;
        font-size: 16px;
    }
    37.5% {
        background-color: lightcyan;
        font-size: 18px;
    }
    50% {
        height: 200px;
        width: 200px;
        background-color: lightyellow;
        font-size: 20px;
    }
    62.5% {
        background-color: lightyellow;
        font-size: 18px;
    }
    75% {
        background-color: lightcyan;
        font-size: 12px;
    }
    87.5% {
        background-color: lightcyan;
        font-size: 10px;
    }
    100% {
        font-size: 8px;
        height: 80px;
        width: 80px;
        background-color: lightblue;
    }
}

@media (max-width: 600px) {
    #name {
        font-size: 25px;
    }
    #profession {
        font-size: 20px;
    }
    #short-bio {
        max-width: 98%;
    }
    .about-section {
        max-width: 98%;
        text-align: justify;
    }
}
